{% extends 'base.html.twig' %}

{% block title %}Edit ExcursionRouteReport{% endblock %}

{% block body %}
    <h1>Edit ExcursionRouteReport</h1>

    {{ include('excursion_route_report/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_excursion_route_report_index') }}">back to list</a>

    {{ include('excursion_route_report/_delete_form.html.twig') }}
{% endblock %}
