{% extends 'base.html.twig' %}
{% block title %}Где история: О проекте Археономика{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .header {
            background-image: url({{ asset('upload/images/edb885c9fefb68b4b1aa321d3c6bc1c5.png') }});
            background-size: cover;
            background-position: center;
            color: white;
            text-align: center;
            padding: 100px 0;
            height: 420px;
            margin-top: 20px;
            margin-bottom: 20px;
            border-radius: 8px;
        }

        .mission {
            background-color: #B71C1C;
            color: white;
            text-align: center;
            padding: 40px;
            border-radius: 8px;
            font-size: 24px;
            font-weight: 500;
            line-height: 33.6px;

        }

        .info-box-container {
            display: flex;
            flex-direction: row;
            padding-top: 20px;
            padding-bottom: 20px;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .info-box {
            padding: 0px;
            font-size: 12px;
            text-align: left;
            display: inline-block;
            max-width: 220px;
        }

        .support-section {
            background-color: #f8f9fa;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .btn-contact {
            background-color: #B71C1C;
            color: white;
        }

        .about-page h1 {
            font-size: 32px;
            font-weight: 500;
            line-height: 38.73px;
            color: #1B1B1B;
        }

        .about-list {
            margin-top: 20px;
            padding-left: 0;
            margin-left: 0;
        }

        .about-list li.about-list-item {
            list-style: none;
            position: relative;
            padding-left: 50px;
            margin-left: 0;
            margin-top: 20px;
        }

        .about-list li.about-list-item::before {
            content: url({{asset('img/about-list.svg')}});
            position: absolute;
            left: 0;
            top: 0;
        }

        .about-list h5,
        .gray-container h5 {
            font-size: 24px;
            font-weight: 500;
            line-height: 29.05px;
            color: #9B1616;

        }

        .about-list p,
        .gray-container p {
            margin-top: 20px;
            font-size: 12px;
            font-weight: 500;
            line-height: 14.52px;
            color: #1B1B1B;
        }

        .gray-container {
            margin-top: 20px;
            background-color: #1B1B1B0A;
            padding: 30px;

        }

        .gray-container .event-card-tickets-link {
            width: 100%;
            text-align: center;
            display: block;
        }

        .gray-container .event-card-tickets-link::after {
            margin-left: 4px;
        }

        .red-link-with-right-arrow {
            text-align: center;
            display: block;
            background-color: #9B1616;
        }

        .red-link-with-right-arrow::after {
            margin-left: 4px;
        }

        .about-social-links-container {
            padding-left: 40px;
            padding-right: 40px;
        }

        .help-list {
            font-size: 12px;
            font-weight: 500;
            line-height: 14.52px;
            color: #1B1B1B;
            padding-left: 10px;
        }

        @media (max-width: 575px) {
            .about-page h1 {
                font-size: 24px;
            }

            .about-page .info-box-container {
                flex-direction: column;
                align-items: center;
            }

            .about-page .info-box {
                text-align: center;
                max-width: initial;
            }

            .about-page .info-box svg {
                margin-bottom: 15px;
            }
        }
    </style>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="container main-section about-page">
        {% set first_crumb = 'О проекте' %}
        {% include ('pages/base/breadcrumbs.html.twig') %}
        <div class="row">
            <div class="col-md-12">
                <div class="header">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h1>«Археономика» — это платформа для поддержки проектов и инициатив, связанных с историей России: с
                    возрождением, изучением и популяризацией нашего исторического наследия</h1>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                <div class="container">
                    <div class="info-box-container">
                        <div class="info-box">
                            <svg width="36" height="36" viewBox="0 0 36 36" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M17.9994 11.8734L22.8293 7.04351L17.9994 2.21358L13.1695 7.04351L17.9994 11.8734ZM11.6938 6.30565C11.2863 6.71316 11.2863 7.37385 11.6938 7.78136L17.2616 13.3491C17.6691 13.7566 18.3298 13.7566 18.7373 13.3491L24.305 7.78136C24.7125 7.37385 24.7125 6.71316 24.305 6.30566L18.7373 0.737879C18.3298 0.330376 17.6691 0.330375 17.2616 0.737878L11.6938 6.30565ZM17.9994 33.7865L22.8293 28.9565L17.9994 24.1266L13.1695 28.9565L17.9994 33.7865ZM11.6938 28.2187C11.2863 28.6262 11.2863 29.2869 11.6938 29.6944L17.2616 35.2622C17.6691 35.6697 18.3298 35.6697 18.7373 35.2622L24.305 29.6944C24.7125 29.2869 24.7125 28.6262 24.305 28.2187L18.7373 22.6509C18.3298 22.2434 17.6691 22.2434 17.2616 22.6509L11.6938 28.2187ZM28.9559 22.83L24.126 18L28.9559 13.1701L33.7859 18L28.9559 22.83ZM28.2181 11.6944C28.6256 11.2869 29.2863 11.2869 29.6938 11.6944L35.2616 17.2622C35.6691 17.6697 35.6691 18.3304 35.2616 18.7379L29.6938 24.3057C29.2863 24.7132 28.6256 24.7132 28.2181 24.3057L22.6503 18.7379C22.2428 18.3304 22.2428 17.6697 22.6503 17.2622L28.2181 11.6944ZM2.21297 18L7.0429 22.83L11.8728 18L7.0429 13.1701L2.21297 18ZM7.78075 11.6944C7.37324 11.2869 6.71255 11.2869 6.30505 11.6944L0.737269 17.2622C0.329765 17.6697 0.329764 18.3304 0.737267 18.7379L6.30504 24.3057C6.71255 24.7132 7.37324 24.7132 7.78075 24.3057L13.3485 18.7379C13.756 18.3304 13.756 17.6697 13.3485 17.2622L7.78075 11.6944ZM17.446 16.3399C17.7517 16.6455 18.2472 16.6455 18.5528 16.3399L27.5883 7.30437C27.8939 6.99874 28.3894 6.99874 28.6951 7.30437C29.0007 7.61 29.0007 8.10552 28.6951 8.41114L19.6596 17.4466C19.354 17.7523 19.354 18.2478 19.6596 18.5534L28.6951 27.5889C29.0007 27.8945 29.0007 28.39 28.6951 28.6957C28.3894 29.0013 27.8939 29.0013 27.5883 28.6957L18.5528 19.6602C18.2472 19.3545 17.7517 19.3546 17.446 19.6602L8.41053 28.6957C8.10491 29.0013 7.60939 29.0013 7.30376 28.6957C6.99813 28.39 6.99813 27.8945 7.30376 27.5889L16.3393 18.5534C16.6449 18.2478 16.6449 17.7523 16.3393 17.4466L7.30377 8.41114C6.99814 8.10552 6.99814 7.61 7.30377 7.30437C7.6094 6.99874 8.10492 6.99874 8.41055 7.30437L17.446 16.3399ZM19.3038 28.9566C19.3038 29.6769 18.7198 30.2609 17.9994 30.2609C17.279 30.2609 16.6951 29.6769 16.6951 28.9566C16.6951 28.2362 17.279 27.6522 17.9994 27.6522C18.7198 27.6522 19.3038 28.2362 19.3038 28.9566ZM28.9559 19.3044C29.6763 19.3044 30.2603 18.7204 30.2603 18C30.2603 17.2797 29.6763 16.6957 28.9559 16.6957C28.2356 16.6957 27.6516 17.2797 27.6516 18C27.6516 18.7204 28.2356 19.3044 28.9559 19.3044ZM19.3038 7.04351C19.3038 7.76388 18.7198 8.34785 17.9994 8.34785C17.279 8.34785 16.6951 7.76388 16.6951 7.04351C16.6951 6.32313 17.279 5.73916 17.9994 5.73916C18.7198 5.73916 19.3038 6.32313 19.3038 7.04351ZM7.0429 19.3044C7.76327 19.3044 8.34724 18.7204 8.34724 18C8.34724 17.2797 7.76327 16.6957 7.0429 16.6957C6.32253 16.6957 5.73855 17.2797 5.73855 18C5.73855 18.7204 6.32253 19.3044 7.0429 19.3044Z"
                                      fill="#9B1616"/>
                            </svg>

                            <p>Поддержка брендов, опирающихся на историко-культурные традиции нашей страны</p>
                        </div>
                        <div class="info-box">
                            <svg width="36" height="36" viewBox="0 0 36 36" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M17.9994 11.8734L22.8293 7.04351L17.9994 2.21358L13.1695 7.04351L17.9994 11.8734ZM11.6938 6.30565C11.2863 6.71316 11.2863 7.37385 11.6938 7.78136L17.2616 13.3491C17.6691 13.7566 18.3298 13.7566 18.7373 13.3491L24.305 7.78136C24.7125 7.37385 24.7125 6.71316 24.305 6.30566L18.7373 0.737879C18.3298 0.330376 17.6691 0.330375 17.2616 0.737878L11.6938 6.30565ZM17.9994 33.7865L22.8293 28.9565L17.9994 24.1266L13.1695 28.9565L17.9994 33.7865ZM11.6938 28.2187C11.2863 28.6262 11.2863 29.2869 11.6938 29.6944L17.2616 35.2622C17.6691 35.6697 18.3298 35.6697 18.7373 35.2622L24.305 29.6944C24.7125 29.2869 24.7125 28.6262 24.305 28.2187L18.7373 22.6509C18.3298 22.2434 17.6691 22.2434 17.2616 22.6509L11.6938 28.2187ZM28.9559 22.83L24.126 18L28.9559 13.1701L33.7859 18L28.9559 22.83ZM28.2181 11.6944C28.6256 11.2869 29.2863 11.2869 29.6938 11.6944L35.2616 17.2622C35.6691 17.6697 35.6691 18.3304 35.2616 18.7379L29.6938 24.3057C29.2863 24.7132 28.6256 24.7132 28.2181 24.3057L22.6503 18.7379C22.2428 18.3304 22.2428 17.6697 22.6503 17.2622L28.2181 11.6944ZM2.21297 18L7.0429 22.83L11.8728 18L7.0429 13.1701L2.21297 18ZM7.78075 11.6944C7.37324 11.2869 6.71255 11.2869 6.30505 11.6944L0.737269 17.2622C0.329765 17.6697 0.329764 18.3304 0.737267 18.7379L6.30504 24.3057C6.71255 24.7132 7.37324 24.7132 7.78075 24.3057L13.3485 18.7379C13.756 18.3304 13.756 17.6697 13.3485 17.2622L7.78075 11.6944ZM17.446 16.3399C17.7517 16.6455 18.2472 16.6455 18.5528 16.3399L27.5883 7.30437C27.8939 6.99874 28.3894 6.99874 28.6951 7.30437C29.0007 7.61 29.0007 8.10552 28.6951 8.41114L19.6596 17.4466C19.354 17.7523 19.354 18.2478 19.6596 18.5534L28.6951 27.5889C29.0007 27.8945 29.0007 28.39 28.6951 28.6957C28.3894 29.0013 27.8939 29.0013 27.5883 28.6957L18.5528 19.6602C18.2472 19.3545 17.7517 19.3546 17.446 19.6602L8.41053 28.6957C8.10491 29.0013 7.60939 29.0013 7.30376 28.6957C6.99813 28.39 6.99813 27.8945 7.30376 27.5889L16.3393 18.5534C16.6449 18.2478 16.6449 17.7523 16.3393 17.4466L7.30377 8.41114C6.99814 8.10552 6.99814 7.61 7.30377 7.30437C7.6094 6.99874 8.10492 6.99874 8.41055 7.30437L17.446 16.3399ZM19.3038 28.9566C19.3038 29.6769 18.7198 30.2609 17.9994 30.2609C17.279 30.2609 16.6951 29.6769 16.6951 28.9566C16.6951 28.2362 17.279 27.6522 17.9994 27.6522C18.7198 27.6522 19.3038 28.2362 19.3038 28.9566ZM28.9559 19.3044C29.6763 19.3044 30.2603 18.7204 30.2603 18C30.2603 17.2797 29.6763 16.6957 28.9559 16.6957C28.2356 16.6957 27.6516 17.2797 27.6516 18C27.6516 18.7204 28.2356 19.3044 28.9559 19.3044ZM19.3038 7.04351C19.3038 7.76388 18.7198 8.34785 17.9994 8.34785C17.279 8.34785 16.6951 7.76388 16.6951 7.04351C16.6951 6.32313 17.279 5.73916 17.9994 5.73916C18.7198 5.73916 19.3038 6.32313 19.3038 7.04351ZM7.0429 19.3044C7.76327 19.3044 8.34724 18.7204 8.34724 18C8.34724 17.2797 7.76327 16.6957 7.0429 16.6957C6.32253 16.6957 5.73855 17.2797 5.73855 18C5.73855 18.7204 6.32253 19.3044 7.0429 19.3044Z"
                                      fill="#9B1616"/>
                            </svg>

                            <p>Поддержка мероприятий, направленных на реконструкцию (создание информационного поля
                                вокруг
                                реконструкторских фестивалей)</p>
                        </div>
                        <div class="info-box">
                            <svg width="36" height="36" viewBox="0 0 36 36" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M17.9994 11.8734L22.8293 7.04351L17.9994 2.21358L13.1695 7.04351L17.9994 11.8734ZM11.6938 6.30565C11.2863 6.71316 11.2863 7.37385 11.6938 7.78136L17.2616 13.3491C17.6691 13.7566 18.3298 13.7566 18.7373 13.3491L24.305 7.78136C24.7125 7.37385 24.7125 6.71316 24.305 6.30566L18.7373 0.737879C18.3298 0.330376 17.6691 0.330375 17.2616 0.737878L11.6938 6.30565ZM17.9994 33.7865L22.8293 28.9565L17.9994 24.1266L13.1695 28.9565L17.9994 33.7865ZM11.6938 28.2187C11.2863 28.6262 11.2863 29.2869 11.6938 29.6944L17.2616 35.2622C17.6691 35.6697 18.3298 35.6697 18.7373 35.2622L24.305 29.6944C24.7125 29.2869 24.7125 28.6262 24.305 28.2187L18.7373 22.6509C18.3298 22.2434 17.6691 22.2434 17.2616 22.6509L11.6938 28.2187ZM28.9559 22.83L24.126 18L28.9559 13.1701L33.7859 18L28.9559 22.83ZM28.2181 11.6944C28.6256 11.2869 29.2863 11.2869 29.6938 11.6944L35.2616 17.2622C35.6691 17.6697 35.6691 18.3304 35.2616 18.7379L29.6938 24.3057C29.2863 24.7132 28.6256 24.7132 28.2181 24.3057L22.6503 18.7379C22.2428 18.3304 22.2428 17.6697 22.6503 17.2622L28.2181 11.6944ZM2.21297 18L7.0429 22.83L11.8728 18L7.0429 13.1701L2.21297 18ZM7.78075 11.6944C7.37324 11.2869 6.71255 11.2869 6.30505 11.6944L0.737269 17.2622C0.329765 17.6697 0.329764 18.3304 0.737267 18.7379L6.30504 24.3057C6.71255 24.7132 7.37324 24.7132 7.78075 24.3057L13.3485 18.7379C13.756 18.3304 13.756 17.6697 13.3485 17.2622L7.78075 11.6944ZM17.446 16.3399C17.7517 16.6455 18.2472 16.6455 18.5528 16.3399L27.5883 7.30437C27.8939 6.99874 28.3894 6.99874 28.6951 7.30437C29.0007 7.61 29.0007 8.10552 28.6951 8.41114L19.6596 17.4466C19.354 17.7523 19.354 18.2478 19.6596 18.5534L28.6951 27.5889C29.0007 27.8945 29.0007 28.39 28.6951 28.6957C28.3894 29.0013 27.8939 29.0013 27.5883 28.6957L18.5528 19.6602C18.2472 19.3545 17.7517 19.3546 17.446 19.6602L8.41053 28.6957C8.10491 29.0013 7.60939 29.0013 7.30376 28.6957C6.99813 28.39 6.99813 27.8945 7.30376 27.5889L16.3393 18.5534C16.6449 18.2478 16.6449 17.7523 16.3393 17.4466L7.30377 8.41114C6.99814 8.10552 6.99814 7.61 7.30377 7.30437C7.6094 6.99874 8.10492 6.99874 8.41055 7.30437L17.446 16.3399ZM19.3038 28.9566C19.3038 29.6769 18.7198 30.2609 17.9994 30.2609C17.279 30.2609 16.6951 29.6769 16.6951 28.9566C16.6951 28.2362 17.279 27.6522 17.9994 27.6522C18.7198 27.6522 19.3038 28.2362 19.3038 28.9566ZM28.9559 19.3044C29.6763 19.3044 30.2603 18.7204 30.2603 18C30.2603 17.2797 29.6763 16.6957 28.9559 16.6957C28.2356 16.6957 27.6516 17.2797 27.6516 18C27.6516 18.7204 28.2356 19.3044 28.9559 19.3044ZM19.3038 7.04351C19.3038 7.76388 18.7198 8.34785 17.9994 8.34785C17.279 8.34785 16.6951 7.76388 16.6951 7.04351C16.6951 6.32313 17.279 5.73916 17.9994 5.73916C18.7198 5.73916 19.3038 6.32313 19.3038 7.04351ZM7.0429 19.3044C7.76327 19.3044 8.34724 18.7204 8.34724 18C8.34724 17.2797 7.76327 16.6957 7.0429 16.6957C6.32253 16.6957 5.73855 17.2797 5.73855 18C5.73855 18.7204 6.32253 19.3044 7.0429 19.3044Z"
                                      fill="#9B1616"/>
                            </svg>

                            <p>Развитие исторических боевых искусств (совместно с ИСБ РФ ведём работу по приданию
                                историческому
                                фехтованию официального статуса спорта)</p>
                        </div>
                        <div class="info-box">
                            <svg width="36" height="36" viewBox="0 0 36 36" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M17.9994 11.8734L22.8293 7.04351L17.9994 2.21358L13.1695 7.04351L17.9994 11.8734ZM11.6938 6.30565C11.2863 6.71316 11.2863 7.37385 11.6938 7.78136L17.2616 13.3491C17.6691 13.7566 18.3298 13.7566 18.7373 13.3491L24.305 7.78136C24.7125 7.37385 24.7125 6.71316 24.305 6.30566L18.7373 0.737879C18.3298 0.330376 17.6691 0.330375 17.2616 0.737878L11.6938 6.30565ZM17.9994 33.7865L22.8293 28.9565L17.9994 24.1266L13.1695 28.9565L17.9994 33.7865ZM11.6938 28.2187C11.2863 28.6262 11.2863 29.2869 11.6938 29.6944L17.2616 35.2622C17.6691 35.6697 18.3298 35.6697 18.7373 35.2622L24.305 29.6944C24.7125 29.2869 24.7125 28.6262 24.305 28.2187L18.7373 22.6509C18.3298 22.2434 17.6691 22.2434 17.2616 22.6509L11.6938 28.2187ZM28.9559 22.83L24.126 18L28.9559 13.1701L33.7859 18L28.9559 22.83ZM28.2181 11.6944C28.6256 11.2869 29.2863 11.2869 29.6938 11.6944L35.2616 17.2622C35.6691 17.6697 35.6691 18.3304 35.2616 18.7379L29.6938 24.3057C29.2863 24.7132 28.6256 24.7132 28.2181 24.3057L22.6503 18.7379C22.2428 18.3304 22.2428 17.6697 22.6503 17.2622L28.2181 11.6944ZM2.21297 18L7.0429 22.83L11.8728 18L7.0429 13.1701L2.21297 18ZM7.78075 11.6944C7.37324 11.2869 6.71255 11.2869 6.30505 11.6944L0.737269 17.2622C0.329765 17.6697 0.329764 18.3304 0.737267 18.7379L6.30504 24.3057C6.71255 24.7132 7.37324 24.7132 7.78075 24.3057L13.3485 18.7379C13.756 18.3304 13.756 17.6697 13.3485 17.2622L7.78075 11.6944ZM17.446 16.3399C17.7517 16.6455 18.2472 16.6455 18.5528 16.3399L27.5883 7.30437C27.8939 6.99874 28.3894 6.99874 28.6951 7.30437C29.0007 7.61 29.0007 8.10552 28.6951 8.41114L19.6596 17.4466C19.354 17.7523 19.354 18.2478 19.6596 18.5534L28.6951 27.5889C29.0007 27.8945 29.0007 28.39 28.6951 28.6957C28.3894 29.0013 27.8939 29.0013 27.5883 28.6957L18.5528 19.6602C18.2472 19.3545 17.7517 19.3546 17.446 19.6602L8.41053 28.6957C8.10491 29.0013 7.60939 29.0013 7.30376 28.6957C6.99813 28.39 6.99813 27.8945 7.30376 27.5889L16.3393 18.5534C16.6449 18.2478 16.6449 17.7523 16.3393 17.4466L7.30377 8.41114C6.99814 8.10552 6.99814 7.61 7.30377 7.30437C7.6094 6.99874 8.10492 6.99874 8.41055 7.30437L17.446 16.3399ZM19.3038 28.9566C19.3038 29.6769 18.7198 30.2609 17.9994 30.2609C17.279 30.2609 16.6951 29.6769 16.6951 28.9566C16.6951 28.2362 17.279 27.6522 17.9994 27.6522C18.7198 27.6522 19.3038 28.2362 19.3038 28.9566ZM28.9559 19.3044C29.6763 19.3044 30.2603 18.7204 30.2603 18C30.2603 17.2797 29.6763 16.6957 28.9559 16.6957C28.2356 16.6957 27.6516 17.2797 27.6516 18C27.6516 18.7204 28.2356 19.3044 28.9559 19.3044ZM19.3038 7.04351C19.3038 7.76388 18.7198 8.34785 17.9994 8.34785C17.279 8.34785 16.6951 7.76388 16.6951 7.04351C16.6951 6.32313 17.279 5.73916 17.9994 5.73916C18.7198 5.73916 19.3038 6.32313 19.3038 7.04351ZM7.0429 19.3044C7.76327 19.3044 8.34724 18.7204 8.34724 18C8.34724 17.2797 7.76327 16.6957 7.0429 16.6957C6.32253 16.6957 5.73855 17.2797 5.73855 18C5.73855 18.7204 6.32253 19.3044 7.0429 19.3044Z"
                                      fill="#9B1616"/>
                            </svg>

                            <p>Развитие городских пространств с элементами исторической реконструкции (выставочные
                                экспозиции, реконструкции знаковых объектов культурного наследия, народных
                                промыслов)</p>
                        </div>
                        <div class="info-box">
                            <svg width="36" height="36" viewBox="0 0 36 36" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M17.9994 11.8734L22.8293 7.04351L17.9994 2.21358L13.1695 7.04351L17.9994 11.8734ZM11.6938 6.30565C11.2863 6.71316 11.2863 7.37385 11.6938 7.78136L17.2616 13.3491C17.6691 13.7566 18.3298 13.7566 18.7373 13.3491L24.305 7.78136C24.7125 7.37385 24.7125 6.71316 24.305 6.30566L18.7373 0.737879C18.3298 0.330376 17.6691 0.330375 17.2616 0.737878L11.6938 6.30565ZM17.9994 33.7865L22.8293 28.9565L17.9994 24.1266L13.1695 28.9565L17.9994 33.7865ZM11.6938 28.2187C11.2863 28.6262 11.2863 29.2869 11.6938 29.6944L17.2616 35.2622C17.6691 35.6697 18.3298 35.6697 18.7373 35.2622L24.305 29.6944C24.7125 29.2869 24.7125 28.6262 24.305 28.2187L18.7373 22.6509C18.3298 22.2434 17.6691 22.2434 17.2616 22.6509L11.6938 28.2187ZM28.9559 22.83L24.126 18L28.9559 13.1701L33.7859 18L28.9559 22.83ZM28.2181 11.6944C28.6256 11.2869 29.2863 11.2869 29.6938 11.6944L35.2616 17.2622C35.6691 17.6697 35.6691 18.3304 35.2616 18.7379L29.6938 24.3057C29.2863 24.7132 28.6256 24.7132 28.2181 24.3057L22.6503 18.7379C22.2428 18.3304 22.2428 17.6697 22.6503 17.2622L28.2181 11.6944ZM2.21297 18L7.0429 22.83L11.8728 18L7.0429 13.1701L2.21297 18ZM7.78075 11.6944C7.37324 11.2869 6.71255 11.2869 6.30505 11.6944L0.737269 17.2622C0.329765 17.6697 0.329764 18.3304 0.737267 18.7379L6.30504 24.3057C6.71255 24.7132 7.37324 24.7132 7.78075 24.3057L13.3485 18.7379C13.756 18.3304 13.756 17.6697 13.3485 17.2622L7.78075 11.6944ZM17.446 16.3399C17.7517 16.6455 18.2472 16.6455 18.5528 16.3399L27.5883 7.30437C27.8939 6.99874 28.3894 6.99874 28.6951 7.30437C29.0007 7.61 29.0007 8.10552 28.6951 8.41114L19.6596 17.4466C19.354 17.7523 19.354 18.2478 19.6596 18.5534L28.6951 27.5889C29.0007 27.8945 29.0007 28.39 28.6951 28.6957C28.3894 29.0013 27.8939 29.0013 27.5883 28.6957L18.5528 19.6602C18.2472 19.3545 17.7517 19.3546 17.446 19.6602L8.41053 28.6957C8.10491 29.0013 7.60939 29.0013 7.30376 28.6957C6.99813 28.39 6.99813 27.8945 7.30376 27.5889L16.3393 18.5534C16.6449 18.2478 16.6449 17.7523 16.3393 17.4466L7.30377 8.41114C6.99814 8.10552 6.99814 7.61 7.30377 7.30437C7.6094 6.99874 8.10492 6.99874 8.41055 7.30437L17.446 16.3399ZM19.3038 28.9566C19.3038 29.6769 18.7198 30.2609 17.9994 30.2609C17.279 30.2609 16.6951 29.6769 16.6951 28.9566C16.6951 28.2362 17.279 27.6522 17.9994 27.6522C18.7198 27.6522 19.3038 28.2362 19.3038 28.9566ZM28.9559 19.3044C29.6763 19.3044 30.2603 18.7204 30.2603 18C30.2603 17.2797 29.6763 16.6957 28.9559 16.6957C28.2356 16.6957 27.6516 17.2797 27.6516 18C27.6516 18.7204 28.2356 19.3044 28.9559 19.3044ZM19.3038 7.04351C19.3038 7.76388 18.7198 8.34785 17.9994 8.34785C17.279 8.34785 16.6951 7.76388 16.6951 7.04351C16.6951 6.32313 17.279 5.73916 17.9994 5.73916C18.7198 5.73916 19.3038 6.32313 19.3038 7.04351ZM7.0429 19.3044C7.76327 19.3044 8.34724 18.7204 8.34724 18C8.34724 17.2797 7.76327 16.6957 7.0429 16.6957C6.32253 16.6957 5.73855 17.2797 5.73855 18C5.73855 18.7204 6.32253 19.3044 7.0429 19.3044Z"
                                      fill="#9B1616"/>
                            </svg>

                            <p>Развитие гражданской науки (совместно с обществом «Знание» содействуем созданию
                                информационной среды для молодых историков и этнографов)</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="mission">
                    <p>Миссия «Археономики» — развивать сообщество профессионалов и любителей истории, археологии и
                        этнографии,
                        а также помогать в создании туристической инфраструктуры вокруг культурно-исторических
                        памятников
                        России</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">

                <ul class="about-list">
                    <li class="about-list-item">
                        <h5>Какие проекты могут получить поддержку «Археономики»?</h5>
                        <p>Мы поддерживаем самые разные проекты, направленные на изучение, сохранение и развитие
                            исторического
                            наследия России.</p>
                    </li>
                    <li class="about-list-item">
                        <h5>Имеет ли значение определенный этап зрелости и проработки проекта или идеи?</h5>
                        <p>Мы работаем как с уже существующими проектами, так и с энтузиастами, готовыми воплотить в
                            жизнь идеи, связанные с историей России. Это могут быть:
                        <ul>
                            <li>руководители региональных фестивалей или экспедиций по историческим местам,</li>
                            <li>отели, расположенные на исторических маршрутах,</li>
                            <li>представители школьных и вузовских секций и спортивных организаций, изучающих
                                историческое фехтование или народные танцы,
                            </li>
                            <li>увлеченные российской историей люди, готовые превращать свои идеи в реальные дела.</li>
                        </ul>
                        </p>
                    </li>
                    <li class="about-list-item">
                        <h5>Может ли «Археономика» обеспечить финансовую поддержку для моего исторического проекта?</h5>
                        <p>«Археономика» не является фондом и не оказывает финансовую поддержку проектам. Мы готовы
                            обеспечить:
                        <ul>
                            <li>эффективную коммуникацию с администрацией вашего региона и другие форматы
                                межведомственного взаимодействия;
                            </li>
                            <li>экспертную поддержку вашего проекта, включая необходимые консультации и создание
                                полноценной стратегии развития;
                            </li>
                            <li>продвижение проекта в средствах массовой информации и на информационных площадках
                                партнеров.
                            </li>
                        </ul>
                        </p>
                    </li>
                </ul>
            </div>

            <div class="col-md-3">
                <div class="gray-container text-center">
                    <h5>Нужна помощь в проведении мероприятия?</h5>
                    <p>«Археономика» не является фондом и не оказывает финансовую поддержку проектам. </p>
                    <p class="text-left">Мы готовы обеспечить:</p>
                    <ul class="help-list text-left">
                        <li>эффективную коммуникацию с администрацией вашего региона и другие форматы межведомственного
                            взаимодействия
                        </li>
                        <li>экспертную поддержку вашего проекта, включая необходимые консультации и создание полноценной
                            стратегии развития
                        </li>
                        <li>продвижение проекта в средствах массовой информации и на информационных площадках
                            партнёров
                        </li>
                    </ul>

                    <a href="https://t.me/archaenomics" class="event-card-tickets-link">Написать нам</a>
                </div>
                <p>&nbsp;</p>
                <div class="about-social-links-container">
                    <a href="https://vk.com/archaenomics"
                       class="event-card-tickets-link red-link-with-right-arrow w-100 text-center">Написать нам VK</a>
                    <a href="https://t.me/archaenomics"
                       class="event-card-tickets-link red-link-with-right-arrow w-100 text-center">Написать в
                        Telegram</a>
                </div>
            </div>
        </div>

    </div>
    {% include('pages/news_row.html.twig') %}
{% endblock %}
