{% extends 'base.html.twig' %}
{% block title %}Где история: Конкурс для организаторов мероприятий {% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .header {
            background-image: url({{ asset('upload/images/edb885c9fefb68b4b1aa321d3c6bc1c5.png') }});
            background-size: cover;
            background-position: center;
            color: white;
            text-align: center;
            padding: 100px 0;
            height: 420px;
            margin-top: 20px;
            margin-bottom: 20px;
            border-radius: 8px;
        }

        .about-page h1 {
            font-size: 32px;
            font-weight: 500;
            line-height: 38.73px;
            color: #1B1B1B;
        }

        .about-list h5,
        .gray-container h5 {
            font-size: 24px;
            font-weight: 500;
            line-height: 29.05px;
            color: #9B1616;
            margin-top: 10px;
        }

        .about-list p,
        .gray-container p {
            margin-top: 20px;
            font-size: 16px;
            font-weight: 500;
            line-height: 14.52px;
            color: #1B1B1B;
        }


        @media (max-width: 575px) {
            .about-page h1 {
                font-size: 24px;
            }

            .about-page .info-box svg {
                margin-bottom: 15px;
            }
        }

        a {
            color: #b71c1c;
        }

        a:hover {
            color: #951717;
        }

        .about-list {
            margin-top: 20px;
            padding-left: 0;
            margin-left: 0;
        }

        .about-list li.about-list-item {
            list-style: none;
            position: relative;
            padding-left: 50px;
            margin-left: 0;
            margin-top: 20px;
        }

        .about-list li.about-list-item::before {
            content: url(/img/about-list.svg);
            position: absolute;
            left: 0;
            top: 0;
        }

        .about-list ul > li > ul {
            margin-left: 10px;
        }

        h5 {

        }

    </style>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="container main-section about-page">
        {% set first_crumb = 'Конкурс для организаторов мероприятий' %}
        {% include ('pages/base/breadcrumbs.html.twig') %}
        <div class="row">
            <div class="col-md-12">
                <div class="header">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p> ПОЛОЖЕНИЕ О КОНКУРСЕ “ВЕСЕННИЙ ИСТОРИЧЕСКИЙ МАРАФОН” </p>
                <ul class="about-list">
                    <li class="about-list-item"><h4>1. НАЗВАНИЕ И ЦЕЛЬ КОНКУРСА</h4>
                        <p> Настоящий конкурс проводится под названием «ВЕСЕННИЙ ИСТОРИЧЕСКИЙ МАРАФОН».</p>
                        <h5>1.1. Цель конкурса:</h5>
                        <ul>
                            <li> Стимулировать организации к проведению и освещению мероприятий, связанных с
                                историей, с
                                акцентом на отечественную историю;
                            </li>
                            <li> Поддержать интерактивные формы исторического просвещения;</li>
                            <li> Расширить информационную площадку для популяризации исторических мероприятий. <br>
                                <br>
                                <br>
                            </li>
                        </ul>
                        <h5> 1.2. Номинации конкурса: </h5>
                        <ul>
                            <li> «Лидер-организатор» — присуждается организации, которая опубликовала максимальное
                                количество
                                мероприятий , соответствующих критериям конкурса.
                            </li>
                            <li> «Гран-при Новаторов» — присуждается организации, выбранной случайным образом (через
                                рандомайзер) среди участников, подавших от 1 до 3 мероприятий.
                            </li>
                        </ul>
                    </li>

                    <li class="about-list-item"><h4>2. СРОКИ ПРОВЕДЕНИЯ КОНКУРСА </h4>
                        <ul>
                            <li> Период подачи заявок: с 17 марта 2024 года по 20 апреля 2025 года.</li>
                            <li> Период проведения мероприятий : с 1 апреля 2025 года по 31 декабря 2025 года.</li>
                            <li> Подведение итогов и публикация результатов: 21 - 27 апреля 2025 года.</li>
                        </ul>
                    </li>
                    <li class="about-list-item"><h4>3. УЧАСТНИКИ КОНКУРСА </h4>
                        <p> Участниками могут стать: </p>
                        <ul>
                            <li> Коммерческие и некоммерческие организации (музеи, образовательные и культурные центры,
                                библиотеки, исторические и реконструкторские клубы, индивидуальные предприниматели и
                                др.),
                                зарегистрированные и ведущие свою деятельность на территории РФ (далее - Организаторы
                                мероприятий).
                            </li>
                            <li> Участие возможно только после регистрации на сайте “Где История” <a
                                        href="https://gdeistoriya.ru/register">https://gdeistoriya.ru/</a> и подачи
                                заявки
                                через
                                специальную форму.
                            </li>
                        </ul>
                    </li>
                    <li class="about-list-item"><h4>4. УСЛОВИЯ УЧАСТИЯ </h4>
                        <h5> 4.1. Форма участия: </h5>
                        <ul>
                            <li> Организация регистрируется на сайте https://gdeistoriya.ru/register.</li>
                            <li> Добавляет информацию о своих мероприятиях через специальную форму
                                https://gdeistoriya.ru/report/ до 30 марта 2024 года.
                            </li>
                        </ul>
                        <h5> 4.2. Требования к мероприятиям: </h5>
                        <ul>
                            <li>Тематика:
                                <ul>
                                    <li> Связаны с исторической тематикой.</li>
                                    <li> Имеют интерактивную компоненту (деятельное вовлечение аудитории мероприятия,
                                        например:
                                        викторины, мастер-классы, квесты, лекции с обсуждением и т.д.).
                                    </li>
                                    <li> Акцент на отечественную историю, но допускаются мероприятия, посвященные
                                        истории других
                                        регионов.
                                    </li>
                                </ul>
                            </li>
                            <li> Сроки проведения: Мероприятия должны проходить с 1 апреля по 31 декабря 2025 года.</li>
                            <li> Информация:
                                <ul>
                                    <li> Полные данные о мероприятии (название, категория, дата и продолжительность,
                                        место
                                        проведения,
                                        включая регион, описание, контакты организатора, условия и оплата участия).
                                    </li>
                                    <li> Фото или иллюстрации (не менее 1).</li>
                                    <li> Ссылка на описание мероприятия на сайте организации или в группе организации в
                                        социальной
                                        сети.
                                    </li>
                                </ul>
                            </li>

                        </ul>
                        <h5> 4.3. Ограничения: </h5>
                        <ul>
                            <li> Мероприятия должны быть действительно проведены и именно в указанный период.</li>
                            <li> Запрещены мероприятия, нарушающие законодательство РФ или противоречащие этическим
                                нормам.
                            </li>
                        </ul>
                    </li>
                    <li class="about-list-item"><h4>5. ПОРЯДОК ПРОВЕДЕНИЯ КОНКУРСА </h4>
                        <h5> 5.1. Подача заявок: </h5>
                        <ul>
                            <li> Заявки направляются через форму на сайте <a href="https://gdeistoriya.ru/report">https://gdeistoriya.ru/report</a>.
                            </li>
                            <li> Каждое мероприятие оформляется отдельной заявкой.</li>
                        </ul>
                        <h5> 5.2. Модерация: </h5>
                        <ul>
                            <li> Модераторы проверяют соответствие мероприятий критериям и реальность их проведения.
                            </li>
                            <li> Решение о публикации принимается в течение 3 рабочих дней с момента подачи заявки.</li>
                        </ul>
                        <h5> 5.3. Опубликованные мероприятия: </h5>
                        <ul>
                            <li> Публикуются на сайте <a href="https://gdeistoriya.ru/">https://gdeistoriya.ru/</a> с
                                указанием
                                организатора.
                            </li>
                            <li> Организаторы несут ответственность за достоверность и актуальность информации.</li>
                        </ul>
                    </li>
                    <li class="about-list-item"><h4>6. КРИТЕРИИ ОЦЕНКИ И ПРИЗЫ </h4>
                        <h5> 6.1. Победители конкурса </h5>
                        <ul>
                            <li> Первый победитель (номинация «Лидер-организатор»):
                                <ul>
                                    <li> Определяется по максимальному количеству опубликованных мероприятий за период с
                                        1
                                        апреля по
                                        31
                                        декабря 2025 года.
                                    </li>
                                    <li> Приз: 10 000 рублей на рекламную кампанию мероприятий (перечисляется после
                                        подтверждения
                                        проведения).
                                    </li>
                                </ul>
                            </li>

                            <li> Второй победитель (номинация «Гран-при Новаторов»):
                                <ul>
                                    <li> Определяется случайным образом (через рандомайзер) среди участников, которые
                                        подали от
                                        1 до 5 мероприятий (т.е. не попали в топ-1 по количеству).
                                    </li>
                                    <li> Приз: 5 000 рублей на рекламную кампанию мероприятий (перечисляется после
                                        подтверждения
                                        проведения).
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <h5> 6.2. Определение категорий участников </h5>
                        <ul>
                            <li> Категория «Лидер»: Участники, подавшие 6 и более мероприятий.</li>
                            <li> Категория «Новаторы»: Участники, подавшие от 1 до 5 мероприятий.</li>
                        </ul>
                        <h5> 6.3. Примечания: </h5>
                        <ul>
                            <li> Если участник одновременно попадает в категорию «Лидер» и «Новаторы» (например, из-за
                                изменения количества мероприятий), он участвует только в номинации «Лидер».
                            </li>
                            <li> Рандомайзер для «Новаторов» будет запущен после завершения модерации всех заявок.</li>
                            <li> Результаты выбора публикуются вместе с итогами конкурса до 27 апреля 2025 года.</li>
                        </ul>
                        <h5>6.4. Призы:</h5>
                        <ul>
                            <li> Для мероприятий организаций-победителей, проводится рекламная кампания посредством
                                платформы Яндекс.Директ на общий рекламный бюджет 10 000 (десять тысяч) рублей (для
                                организации, занявшей первое место в номинации «Лидер-организатор») или 5 000 (пять
                                тысяч) рублей (для организации, занявшей первое место в номинации «Гран-при Новаторов»),
                                включая НДС. Рекламная кампания проводится Организатором на принадлежащем Организатору
                                аккаунте Яндекс.Директ, победителю предоставляется выгрузка статистических данных по
                                результатам проведения
                                кампании.
                            </li>
                            <li> Сроки проведения рекламной кампании: май 2025 г.</li>
                        </ul>
                    </li>
                    <li class="about-list-item"><h4>7. ОТВЕТСТВЕННОСТЬ УЧАСТНИКОВ </h4>
                        <ul>
                            <li> Организаторы мероприятий гарантируют:
                                <ul>
                                    <li> Достоверность информации о мероприятиях.</li>
                                    <li> Соблюдение законодательства РФ при их проведении.</li>
                                </ul>
                            </li>
                            <p>Оргкомитет вправе исключить мероприятие из списка, если оно не соответствует критериям
                                или содержит недостоверные данные. Обоснование отказа предоставляется по запросу
                                представителю организатора мероприятия.</p>
                        </ul>
                    </li>
                    <li class="about-list-item"><h4>8. ПРОЧИЕ УСЛОВИЯ </h4>
                        <ul>
                            <li> Организаторы мероприятий соглашаются с Положением о конкурсе, подавая заявку.</li>
                            <li> Решения оргкомитета обжалованию не подлежат.</li>
                            <li> Организаторы предоставляют право использовать материалы о мероприятиях для
                                промо-материалов сайта.
                            </li>
                        </ul>
                    </li>
                    <li class="about-list-item"><h4>9. КОНТАКТНАЯ ИНФОРМАЦИЯ </h4>
                        <p> Для уточнения деталей: </p>
                        <ul>
                            <li> Электронная почта: My-History-info@yandex.ru</li>
                            <li> Адрес сайта: https://gdeistoriya.ru/</li>
                        </ul>
                        <p> Дата: 07.03.2025&nbsp; </p>
                        <p> Примечание : </p>
                        <ul>
                            <li> Все изменения в Положении публикуются на сайте.</li>
                            <li> Участники обязаны следить за обновлениями.</li>
                            <li> Документ составлен в соответствии с законодательством РФ.</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    </div>
    {% include('pages/news_row.html.twig') %}
{% endblock %}
