<!-- load more events-->
<div class="row mb-4 load-more-events-container" id="show-more" style="{{ canLoadMore ? 'block' : 'none' }}">
    <div class="col text-center">
        <span class="load-more-events" style="cursor: pointer;"><img alt="загрузить еще" src="{{ asset('img/red-load-more-big.svg') }}"/></span>
    </div>
</div>
<!--end load more events-->