{% extends 'base.html.twig' %}
{% block title %}Где история: Добро пожаловать{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .header {
            background-image: url({{ asset('upload/images/edb885c9fefb68b4b1aa321d3c6bc1c5.png') }});
            background-size: cover;
            background-position: center;
            color: white;
            text-align: center;
            padding: 100px 0;
            height: 420px;
            margin-top: 20px;
            margin-bottom: 20px;
            border-radius: 8px;
        }

        .mission {
            background-color: #B71C1C;
            color: white;
            text-align: center;
            padding: 40px;
            border-radius: 8px;
            font-size: 24px;
            font-weight: 500;
            line-height: 33.6px;

        }

        .about-page h1 {
            font-size: 32px;
            font-weight: 500;
            line-height: 38.73px;
            color: #1B1B1B;
        }

        .about-list h5,
        .gray-container h5 {
            font-size: 24px;
            font-weight: 500;
            line-height: 29.05px;
            color: #9B1616;

        }

        .about-list p,
        .gray-container p {
            margin-top: 20px;
            font-size: 12px;
            font-weight: 500;
            line-height: 14.52px;
            color: #1B1B1B;
        }


        @media (max-width: 575px) {
            .about-page h1 {
                font-size: 24px;
            }

            .about-page .info-box svg {
                margin-bottom: 15px;
            }
        }

        a {
            color: #b71c1c;
        }

        a:hover {
            color: #951717;
        }
    </style>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="container main-section about-page">
        {% set first_crumb = 'О проекте' %}
        {% include ('pages/base/breadcrumbs.html.twig') %}
        <div class="row">
            <div class="col-md-12">
                <div class="header">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h1>Добро пожаловать на платформу для ценителей живой истории!</h1>
                <p>Здесь собираются те, кто видит в прошлом не просто даты и факты, а увлекательное приключение, полное
                    открытий. Наш сайт посвящён мероприятиям, которые превращают историю в захватывающий диалог между
                    эпохами. Мы объединяем организаторов и участников, готовых не просто изучать, но и <b>проживать
                        историю</b>
                    через интерактивные форматы.</p>
                <h5>Что вас ждёт?</h5>
                <h6>Интерактив как основа:</h6>
                <p>На нашей площадке мы собираем уникальные события, которые позволяют каждому участнику не просто
                    наблюдать историю, но и становиться её частью. Каждое мероприятие, представленное на сайте, имеет
                    глубокую привязку к реальным историческим событиям и эпохам, охватывая широкий временной диапазон
                    развития человечества. Квесты, реконструкции, мастер-классы, исторические ролевые игры - вот то, что
                    позволяет погрузиться в историческую атмосферу, стать частью событий, изменивших мир.</p>
                <h6>Фокус на отечественную историю:</h6>
                <p>От времён Древней Руси до современных достижений — мы стремимся раскрыть многогранность истории нашей
                    страны. Особое внимание уделяем локальным событиям, малоизвестным подвигам и культурным традициям,
                    которые формировали национальную идентичность.</p>
                <h6>История без границ:</h6>
                <p>Хотя сердце проекта — история России, мы открыты для мероприятий со всего мира. Античные цивилизации,
                    средневековая Европа, революции Азии — всё, что помогает увидеть связь эпох и культур. Ведь история
                    человечества едина, и каждый её фрагмент достоин внимания.</p>
                <h6>Для организаторов:</h6>
                <p>Проводите исторические квесты, воркшопы или театрализованные экскурсии? Добавляйте их на наш сайт! Мы
                    поможем найти аудиторию, которая ценит глубокий подход и жаждет участвовать, а не наблюдать.
                    Условий только два:
                <ul>
                    <li>ваше мероприятие должно давать возможность действовать, а не только получать информацию;</li>
                    <li>ваше мероприятие должно иметь осознаваемый исторический контекст.</li>
                </ul>
                </p>
                <h6>Почему мы?</h6>
                <p>
                <ul>
                    <li>Никаких шаблонов: только нестандартные форматы.</li>
                    <li>Акцент на вовлечённость: зритель здесь становится героем.</li>
                    <li>Сообщество единомышленников: от новичков до реконструкторов с 20-летним стажем.</li>
                </ul>
                </p>
                <h6>Присоединяйтесь!</h6>
                <p>Прокачивайте знания через опыт, делитесь открытиями и создавайте новые страницы истории вместе с
                    нами. Потому что история — это не то, что было. Это то, что происходит сейчас — с вами.
                </p>
            </div>
        </div>
    </div>

    </div>
    {% include('pages/news_row.html.twig') %}
{% endblock %}
