<p>Чтобы сбросить пароль используйте ссылку ниже</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Эта ссылка действительна {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>Если вы не отправляли запрос на изменение пароля - проигнорируйте это письмо</p>
